.terminal {
  cursor: text !important;
}

.terminal canvas {
  cursor: text !important;
}

.xterm-viewport {
  @apply scrollbar-thin scrollbar-track-bg-primary scrollbar-thumb-bg-secondary-light hover:scrollbar-thumb-bg-tertiary;
}

.xterm-screen {
  @apply pl-3 pr-0;
}



.terminal textarea {
  caret-color: transparent;
}
