.xterm-viewport {
  @apply scrollbar-thin scrollbar-track-bg-primary scrollbar-thumb-bg-secondary-light hover:scrollbar-thumb-bg-tertiary;
}

.xterm-screen {
  @apply px-3;
}

.terminal, .terminal * {
  cursor: none !important;
}

.xterm, .xterm * {
  cursor: none !important;
}

.terminal textarea {
  caret-color: transparent;
}
