/**
 * {EXTENSION_NAME} Extension
 *
 * {DESCRIPTION}
 */

import type { Extension, ExtensionContext } from '@aiderdesk/extensions';

export default class {CLASS_NAME} implements Extension {
  static metadata = {
    name: '{EXTENSION_NAME}',
    version: '1.0.0',
    description: '{DESCRIPTION}',
    author: '{AUTHOR}',
    capabilities: ['{CAPABILITY}'],
  };

  async onLoad(context: ExtensionContext): Promise<void> {
    context.log('{EXTENSION_NAME} Extension loaded', 'info');
  }

  // Add methods as needed:
  // - getCommands()
  // - getTools()
  // - getAgents()
  // - getModes()
  // - onAgentStarted()
  // - onToolCalled()
  // etc.
}
