.theme-light {
  
}

.theme-dark {
  /* Background Colors */
  --color-bg-primary: #141417; /* neutral-950 */
  --color-bg-primary-light: #191a22; /* neutral-900 */
  --color-bg-primary-light-strong: #191a2280;
  --color-bg-secondary: #222431; /* neutral-850 */
  --color-bg-secondary-light: #2a2c3f; /* neutral-800 */
  --color-bg-secondary-light-strongest: #2a2c3ff2;
  --color-bg-tertiary: #333652; /* neutral-700 */
  --color-bg-tertiary-emphasis: #3336524C;
  --color-bg-tertiary-strong: #3336527F;
  --color-bg-fourth: #3d4166; /* neutral-600 */
  --color-bg-fourth-muted: #3d416633;
  --color-bg-fourth-emphasis: #3d41664c;
  --color-bg-fifth: #585c75; /* neutral-500 */

  /* Text Colors */
  --color-text-primary: #f1f3f5; /* neutral-100 */
  --color-text-secondary: #999ba3; /* neutral-200 */
  --color-text-tertiary: #8c8e95;  /* neutral-300 */
  --color-text-muted-light: #7b7d86; /* neutral-400 */
  --color-text-muted: #585c75; /* neutral-500 */
  --color-text-muted-dark: #3d4166; /* neutral-600 */
  --color-text-dark: #333652; /* neutral-700 */

  /* Border Colors */
  --color-border-dark: #222431; /* neutral-850 */
  --color-border-dark-light: #2a2c3f; /* neutral-800 */
  --color-border-dark-light-strong: #2a2c3f80;
  --color-border-default-dark: #333652; /* neutral-700 */
  --color-border-default: #3d4166; /* neutral-600 */
  --color-border-accent: #585c75; /* neutral-500 */
  --color-border-light: #999ba3; /* neutral-200 */

  /* Accent Colors */
  --color-accent-primary: #585c75; /* neutral-500 */
  --color-accent-secondary: #7b7d86; /* neutral-400 */
  --color-accent-light: #999ba3; /* neutral-200 */

  /* Status Colors */
  --color-success: #22c55e; /* green-500 */
  --color-success-light: #4ade80;
  --color-success-subtle: #22c55e1a;
  --color-success-muted: #22c55e33;
  --color-success-emphasis: #22c55e4c;

  --color-warning: #d97706; /* amber-600 */
  --color-warning-subtle: #d9770619;
  --color-warning-emphasis: #d977064c;
  --color-warning-light: #f59e0b; /* amber-500 */

  --color-error: #ef4444; /* red-500 */
  --color-error-dark: #991b1b;
  --color-error-subtle: #ef44441a;
  --color-error-muted: #ef444426; /* 15% */
  --color-error-emphasis: #ef44444c;
  --color-error-strong: #ef444480;
  --color-error-light: #f87171;
  --color-error-lighter: #fca5a5;
  --color-error-lightest: #fecaca;

  --color-info: #2563eb; /* blue-600 */
  --color-info-light: #3b82f6; /* blue-500 */
  --color-info-lighter: #60a5fa; /* blue-400 */
  --color-info-lightest: #93c5fd; /* blue-300 */
  --color-info-subtle: #2563eb1a;
  --color-info-light-muted: #2563eb33;
  --color-info-light-emphasis: #2563eb4c;

  /* Input Colors */
  --color-input-bg: #191a22; /* neutral-900 */
  --color-input-border: #3d4166; /* neutral-600 */
  --color-input-text: #f1f3f5; /* neutral-100 */

  --color-agent-autoapprove: #4ade80; /* green-400 */
  --color-agent-aidertools: #fb923c; /* orange-400 */
  --color-agent-powertools: #c084fc; /* purple-400 */
  --color-agent-todotools: #38bdf8; /* sky-400 */
  --color-agent-contextfiles: #facc15; /* yellow-400 */
  --color-agent-repomap: #60a5fa; /* blue-400 */

  --color-diffviewer-bg-old-primary: #3f1d25;
  --color-diffviewer-bg-old-secondary: #2c141a;
  --color-diffviewer-bg-new-primary: #022c22;
  --color-diffviewer-bg-new-secondary: #011f19;
}

.theme-blue {

}

.theme-green {

}

.theme-purple {

}
